*{
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: rgb(221, 244, 255);
}

.main{
    padding-top: 9vh;
}

.despesas{
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0 1.2vh;
    font-size: 1.7vh;
}

.despesas thead th{
    font-size: 2.2vh;
    background-color: rgba(169, 169, 169, 0.5);
}

.despesas thead th:first-child, .despesas tbody tr td:first-child{
    border-radius: 50px 0 0 50px;
}

.despesas thead th:last-child, .despesas tbody tr td:last-child{
    border-radius: 0 50px 50px 0;
}

.despesas tbody tr{
    background-color: white;
}

.despesas tbody tr:hover{
    background-color: gainsboro;
}

.addNew{
    width: 6vh;
    height: 6vh;
    background: white;
    border-radius: 50%;
    box-shadow: 2px 2px 4px black;
}

.addNew:hover{
    background-color: gainsboro;
    cursor: pointer;
}

.addNew i{
    font-size: 3vh;
}